<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.TeamMemberMapper">

    <insert id="insertBoard" parameterType="com.example.board.TeamMemberVO">
        insert into TeamMembers (name, studentID, phonenum, major, semester, mbti)
        values (#{name}, #{studentID}, #{phonenum}, #{major}, #{semester}, #{mbti})
    </insert>

    <delete id="deleteBoard" parameterType="int">
        delete from TeamMembers where seq=#{seq}
    </delete>

    <update id="updateBoard" parameterType="com.example.board.TeamMemberVO">
        update TeamMembers
        set name=#{name}, studentID=#{studentID}, phonenum=#{phonenum}, major=#{major}, semester=#{semester}, mbti=#{mbti}
        where seq=#{seq}
    </update>

    <select id="getBoard" parameterType="int" resultType="com.example.board.TeamMemberVO">
        select * from TeamMembers where seq=#{seq}
    </select>

    <select id="getBoardList" resultType="com.example.board.TeamMemberVO">
        select * from TeamMembers order by seq desc
    </select>

</mapper>
