<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">

    <insert id="insertUser">
        insert into User ( id, password, name)
        values
            (#{id}, #{password} , #{name})
    </insert>
    <insert id="updateUser">
        update User
        set id=#{id}, password=#{password}, name=#{name}
        where seq=#{seq}
    </insert>
    <delete id="deleteUser">
        delete from User where seq=#{seq}
    </delete>
    <select id="getUser" resultType="user">
        select id, password, name, regdate, seq from User where id=#{userid} and password=#{password}
    </select>
</mapper>