<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="ActivityVO" type="com.example.board.vo.ActivityVO"/>
        <typeAlias alias="TeamMemberVO" type="com.example.board.vo.TeamMemberVO"/>
        <typeAlias alias="User" type="com.example.board.vo.User"/>

    </typeAliases>
</configuration>